@keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:1;}
    100%{opacity: 0;}
}

.CurrentBookingWrapper {
    display: flex;
    flex-direction: row;
    background: url('../../addons/circlebgwhite.svg'), url('../../addons/CityExtBackWhite.svg'), linear-gradient(54.94deg, #1C1D57 24.38%, #161892 99.99%);
    background-size: 30%, 100%, 100%;
    background-position-x: 250px, 0, 0;
    background-position-y:0, bottom, 0;
    background-repeat: no-repeat;
}

.currentBookingTitle{
    color: white;
    font-size: 60px;
    margin-left: 25px;
}

.currentBooking{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.rowBooking{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
}

.pageTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 30px;
    align-self: center;
}

.current{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    align-self: center;
    height: 100%;
}

.countdown{
    color: white;
    font-size: 45px;
    text-align: center;
    background: url('../../addons/currentBookingGif.gif');
    background-position-y: center;
    background-position-x: left;
    background-size: 200px;
    background-repeat: no-repeat;
    width: 80%;
}

.inProgress{
    animation: fadeIn 2s;
    animation-iteration-count: infinite;
    color: green;
    font-size: 60px;
    font-weight: bold;
}

.terminate{
    color: #EE0F0F;
    font-size: 60px;
    font-weight: bold;
}

.bookingDetails{
    animation: 1s ease-out 0s 1 slideUp;
    animation-duration: 1s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: white;
    border-radius: 30px 30px 0px 0px;
}

.deets{
    display: flex;
    flex-direction: row;
    align-self: center;
    color: #040C4F;
    margin-top: 30px;
    width: 90%;
    height: 60%;
    justify-content: space-between;
}

.cDetails, .bDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    font-size: 25px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.bTitle, .cTitle{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.bDeet{
    font-size: 20px;
}

/* .buttonCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    align-self: center;
} */

.cancelCurrentBooking{
    width: 200px;
    height: 50px;
    background-color: #EE0F0F;
    color: white;
    font-size: 21px;
    border-radius: 5px;
    border-style: none;
    transition: 0.5px;
    margin-top: 5px;
}

.currBooking{
    display: flex;
    flex-direction: column;
}

.currDetails{
    display: flex;
    flex-direction: column;
}

.currButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media(max-width:1200px){
    .CurrentBookingWrapper{
        background-position-x: 50px;
    }
}

@media(max-width:600px){
    .pageTitle{
        visibility: hidden;
    }
}

@media(max-width:767px){

    .currentBookingTitle{
        color: white;
        font-size: 40px;
        margin-left: 25px;
    }

    .countdown{
        color: white;
        font-size: 30px;
        background: none;
        text-align: center;
        width: 80%;
    }

    .inProgress{
        animation: fadeIn 2s;
        animation-iteration-count: infinite;
        color: green;
        font-size: 40px;
        font-weight: bold;
    }

    .bookingDetails{
        animation: 1s ease-out 0s 1 slideUp;
        animation-duration: 1s;
        /* width: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: white;
        border-radius: 30px 30px 0px 0px;
    }

    .currButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .deets{
        display: flex;
        flex-direction: column;
        align-self: center;
        color: #040C4F;
        margin-top: 30px;
        align-items: center;
        width: 90%;
        height: 60%;
    }

    .cDetails, .bDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 200px;
        font-size: 25px;
        text-align: center;
        border-radius: 5px;
        background: rgba(255, 255, 255);
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    }

    .bTitle, .cTitle{
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }
    
    .bDeet{
        font-size: 20px;
    }

    .cancelCurrentBooking{
        width: 200px;
        height: 50px;
        background-color: #EE0F0F;
        color: white;
        font-size: 21px;
        border-radius: 15px;
        border-style: none;
        transition: 0.5px;
        margin-top: 5px;
    }
}