.makeBooking{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.elementEl{
    margin-bottom: 5px;
}

.bookingElement{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(54.94deg, #1C1D57 24.38%, #161892 99.99%);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    animation: 1s ease-out 0s 1 slideUp;
    animation-duration: 1s;
    color: white;
}

.makeBookingResult{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avail{
    margin-top: 10px;
    font-size: 25px;
    color: #1C1D57;
}

.noCarSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noCar{
    font-size: 15px;
    color: #1C1D57;
}

.orBook {
    width: 70%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.43);
}
.orBook:before, .orBook:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}
.orBook:after {
    margin: 0 -55% 0 .5em;
}

.makeBookingDisplay{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    background: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    animation: 1s ease-out 0s 1 slideUp;
    animation-duration: 1s;
    border-radius: 30px 30px 30px 30px;
}

.noCarBtn{
    width: 100%;
}

.noBtn{
    width: 311px;
    height: 48px;
    background: linear-gradient(90deg, #BB2B7A 0%, #5F3090 100%, #E9C2F9 100%);
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noBtn:hover{
    width: 311px;
    height: 48px;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #5F3090 ;
    color: #BB2B7A ;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeSelect{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.datesss{
    display: flex;
    flex-direction: row;
}

.chooseDate{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dateText{
    margin-right: 5px;
}

.startTime, .endTime, .datePick{
    height: 35px;
    width: 90%;
}

.bookkBtn{
    background: #1D1E5B;
    border-radius: 5px;
    color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    margin-right: 5px;
    height: 30px;
    margin-bottom: 10px;
    width: 40%;
}

.timeStart{
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: center;
}

.makeBTitle{
    margin-top: 15px;
    font-size: 40px;
    color: white;
    text-align: center;
}

@media(max-width:1200px){
    .MakeBookingWrapper{
        background-position-x: 50px, 0;
    }
}

@media(max-width:780px){

    .makeBookingResult {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .makeBTitle{
        font-size: 25px;
    }

    .datesss{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .timeSelect{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .timeStart{
        margin-top: 15px;
        width: 100%;
    }

    .bookkBtn{
        background: #1D1E5B;
        border-radius: 15px;
        color: white;
        border-style: solid;
        border-width: 0.5px;
        border-color: white;
        margin-right: 5px;
        height: 50px;
        margin-bottom: 10px;
        width: 60%;
    }

    .noCarSelect {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .noCar{
        margin-bottom: 10px;
    }

    .noCarBtn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .noBtn{
        width: 80%;
        height: 48px;
        background: linear-gradient(90deg, #BB2B7A 0%, #5F3090 100%, #E9C2F9 100%);
        border-radius: 5px;
        border-style: none;
        color: white;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .noBtn:hover{
        width: 311px;
        height: 48px;
        background: white;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #5F3090 ;
        color: #BB2B7A ;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    

}

@media(max-width:600px){
    .pageTitle{
        visibility: hidden;
    }
}