@font-face {
    font-family: 'Gidole Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gidole Regular'), url('../../addons/Gidole-Regular.woff') format('woff');
}

@keyframes slideInFromLeft {
    0% {
        
      transform: translateY(500%);
    }
    100% {
      transform: translateY(0);
    }
  }

.ViewAllCarsWrapper {
    display: flex;
    flex-direction: row;
    background: url('../../addons/Circle\ bg.svg'), url('../../addons/CityExtBack.svg');
    background-size: 30%, 100%;
    background-position-x: 250px;
    background-position-y: 0, bottom;
    background-repeat: no-repeat;
}

.viewAllCars{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.rowBooking{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
}

.bookingTitle{
    font-size: 60px;
    margin-left: 25px;
    color: #040C4F;
}

.pageTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 30px;
    align-self: center;
}

.allCars{
    display: flex;
    flex-direction: column;
    width: 95%; 
    align-self: center;
    height: 80%;
}

.filterSection{
    display: flex;
    flex-direction: row;
}

.displaySection{
    overflow-y: scroll;
    margin-top: 5px;
    margin-left: -5px;
}

.orderBtn{
    background: #1D1E5B;
    border-radius: 5px;
    color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    margin-right: 5px;
    height: 30px;
    position: absolute;
    right: 1.5%;
}

.filterBox{
    border-radius: 5px;
    margin-right: 5px;
}

.filterBtn{
    background: #1D1E5B;
    border-radius: 5px;
    color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    margin-right: 5px;
    height: 30px;
}

.carDetails_element {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    animation-duration: 0.5s;
    background: #f4f4f4;
    background-image: url('../../addons/BookingCar.png');
    background-position: right;
    background-size: 100px, 100px;
    background-repeat: no-repeat;
    width: 99%;
    margin: 5px;  
    padding: 10px 20px;
}



/* //end */

