/* Provide sufficient contrast against white background */
@font-face {
  font-family: 'Gidole Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gidole Regular'), url('./addons/Gidole-Regular.woff') format('woff');
}

html, body{
  font-family: 'Gidole Regular';
  height: 100vh;
}